{% extends "myapp/base.html" %}
{% load static %}

{% block page_title %}
About
{% endblock page_title %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock links %}

{% block body_block %}
<div class="box">
  <img src="{% static 'images/me5.jpg' %}" class="img-circle" alt="My_pic">
<span style="display: inline-block;">
<div class="container">
  <div class="junbotron">
    <div class="about_head">
      <p><strong>About Me</strong></p>
    </div>
    <div class="about">
    <h3><strong>Hi! My name is Yash Dwivedi.
      I’m a graduate of 2018 from Bharathi Vidyapeeth College of Engineering, Pune with a degree in Electronics Engineering.
      I'm most passionate about giving back to the community, and my goal is to pursue this passion within the field of software engineering.
      Currently I'm searching for good Software development Project and seeking a position to utilize my skills
      and abilities in organization that offers professional growth while being resourceful, innovative, and flexible.</strong></h3>
  </div>
</div>
</div>
</div>
</span>
<div class="resume">
<div class="text-center">
  <form method="get" action="{% static 'media/Yash_Resume.pdf' %}" target="_blank">
    <button class="btn btn-primary btn-lg"><i class="fa fa-download"></i> Download Resume</button>
  </form>
</div>
</div>

{% endblock body_block%}
