<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock page_title %}</title>
    {% block links_top %}
    {% endblock links_top %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block links %}
    {% endblock links %}
  </head>
  <body>
      <nav class="navbar-fixed-top navbar-expand-sm bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav navbar-left">
            <div class="nav-me">
              <li class="nav-item"></span> <strong>Yash Dwivedi</strong></li>
            </div>
          </ul>
          <ul class="navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href="{% url 'myapp:index' %}"><span class="glyphicon glyphicon-log-in"></span> HOME</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'myapp:about' %}"><span class="glyphicon glyphicon-log-in"></span> ABOUT</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'myapp:skills' %}"><span class="glyphicon glyphicon-log-in"></span> SKILLS</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'myapp:projects' %}"><span class="glyphicon glyphicon-log-in"></span> PROJECTS</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'myapp:feedback' %}"><span class="glyphicon glyphicon-log-in"></span> FEEDBACK</a></li>
          </ul>
        </div>
      </nav>

    <ul class="socialIcons">
      <li class="twitter"><a href="https://twitter.com/HeyYash05"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
      <li class="instagram"><a href="https://www.instagram.com/heyyash05/"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li>
      <li class="linkedin"><a href="https://www.linkedin.com/in/yashd/"><i class="fa fa-fw fa-linkedin"></i>LinkedIn</a></li>
      <li class="github"><a href="https://github.com/hey-yash"><i class="fa fa-fw fa-github"></i>Github</a></li>
      <li class="whatsapp"><a href="https://wa.me/qr/Q5FVCZUNQSUWP1"><i class="fa fa-fw fa-whatsapp"></i>Whatsapp</a></li>
    </ul>

  <div class="d-flex flex-column justify-content-center w-100 h-100">
    {% block body_block %}

    {% endblock %}
  </div>
  </body>
</html>
