{% extends "myapp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_title %}
Feedback
{% endblock page_title %}

{% block links %}
<link rel="stylesheet" href="{% static '/css/feedback.css' %}">
{% endblock links %}

{% block body_block %}

<div class="container">
  <div class="jumbotron">
      <h2>Hey! Please fill out the form</h2><br>
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="col-auto my-1">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
  </div>
</div>

{% endblock %}
