{% extends "myapp/base.html" %}
{% load static %}

{% block page_title %}
Projects
{% endblock page_title %}

{% block links_top %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock links_top %}

{% block body_block %}

<div class="project_head">
  <p><strong>My Projects</strong></p>
</div>

<div class="card border-info mb-4">
  <div class="card-header">Mediation Tech Upgrade</div>
  <div class="card-body text-info">
    <h4 class="card-title">Nov,2018 - Jan,2020 </h4>
    <p class="card-text">
      Key Responsibilities:
      <ul>
        <li>Replatforming of 50+ networking applications from Solaris OS to Linux - CentOS with zero impact in functionality.</li>
        <li>Ensure proper collection of data from all network devices using SNMP polling in python.</li>
        <li>Performing source system data analysis in order to manage source to target data mapping.</li>
      </ul>
    </p>
  </div>
</div>

<div class="card border-info mb-3">
  <div class="card-header">Cisco 5500 Integration</div>
  <div class="card-body text-info">
    <h4 class="card-title">Feb,2020 - Nov,2020</h4>
    <p class="card-text">
      Key Responsibilities:
      <ul>
        <li>Gathering requirements from client and preparing design document.</li>
        <li>Developing python scripts to poll SNMP traps from new Cisco networking devices as per requirement.</li>
        <li>Unit Testing and debugging the code and creating test cases for various input.</li>
      </ul>
    </p>
  </div>
</div>

<div class="card border-info mb-3">
  <div class="card-header">NCCM Migration for MACD orders</div>
  <div class="card-body text-info">
    <h4 class="card-title">Jan,2021 - Aug,2021</h4>
    <p class="card-text">
      Key Responsibilities:
      <ul>
        <li>Gathering requirements from client and preparing design document.</li>
        <li>Develop code as per requirement in object oriented approach. Modify existing code & functionality in both backend & frontend to meet requirement.</li>
        <li>Providing an additional feature of automated mail from server to clients for each change done by application in data.</li>
        <li>Regular interaction with clients for status update and constant feedback.</li>
      </ul>
    </p>
  </div>
</div>

{% endblock %}
