.about_head {
  text-align: center;
  font-size: 80px;
  margin: 0%
}

.box {
   display: flex;
   align-items:center;
}

.img-circle {
  vertical-align: middle;
  display: inline;
  border: 7px solid black;
  width:  300px;
  height: 300px;
  border-radius: 50%;
}

.btn {
  background-color: #35c91e;
  border: none;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #41ff24;
}

.about {
  padding: 0% 0% 10% 0%;
  justify-content: space-between;
}

.resume {
  padding-bottom: 10%;
}
