/* Style download button */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 40px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
