.welcome {
  color: green;
  display: inline-block;
  font-family: Impact, fantasy;
  font-size: 150px;
  font-weight: 900;
  animation: fadeIn linear 7s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
}
