.project_head {
  text-align: center;
  font-size: 80px;
  margin: 0%
}

.card {
  align-self: center;
  width: 1050px;
  max-width: 75%;
  min-width: 50%;
  margin: 2% 5% 2% 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-header {
  font-size: 20px;
  font-weight: bold;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
